---
import BaseHead from "../components/structure/BaseHead.astro";
import Header from "../components/structure/Header.astro";
import Footer from "../components/structure/Footer.astro";
import config from "../content/config/config.json";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={config.seo.title}
            description={config.seo.description}
        />
    </head>
    <body>
        <Header />
        Hello
        <Footer />
    </body>
</html>
